/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file (modern way) */
@use "bootstrap" as *;

.table tr.even > td {
  background-color: steelblue !important;
  color: white !important;
}

.table tr.odd > td {
  background-color: tomato !important;
  color: white !important;
}

