<h1>Welcome to {{ hotelName }}</h1>
<h2>Branch Created</h2>

<div *ngIf="hideRooms">
  Number of Rooms:
  <div
    [ngStyle]="{ color: rooms.availableRooms > 0 ? 'steelblue' : 'red' }"
    [innerText]="numberOfRooms"
  ></div>
</div>

{{ rooms.availableRooms }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<!-- {{ roomsList | json }} -->
<!-- new branch created -->
<div>
  <div *ngIf="rooms.availableRooms > 0">
    <hinv-rooms-list
      [rooms]="roomsList"
      [title]="title"
      (selectedRoom)="selectRoom($event)"
    ></hinv-rooms-list>
  </div>
</div>

<button (click)="toggle()">Toggle</button>
